<!DOCTYPE html>
<html>
 <head>
    <title>M🔍vie | 404</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- style.css -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <style>
        html{
            height:100%;
            width:100%;
        }
        body
        {
            height:100%;
            width:100%;
            background-image: url('https://bukk.it/breaktheinternet.gif');
            background-size: 100% 100%; 
            background-repeat: no-repeat;
        }
    </style>
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    </head>
<body>
<div class="jumbotron text-center">
	<img class="logo" src="/assets/images/logo.png">
	<hr>
    <form action="/search" method="POST">
        <div class="form-area">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" name="searchedQuery" placeholder="Movie Name" />
                    <div class="input-group-btn">
                         <button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
            </div>
        </div>
    </form>
    <h2>It looks like there is nothing here..:/</h2>
</div>
<% include partials/footer %>